@import "tailwindcss";
@keyframes bounce {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}
@keyframes slowpulse {
    0%,100%{
        transform:scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.3);
        opacity: 0.85;
    }
}
.animate-slowpulse{
    animation: slowpulse 1.6s ease-in-out infinite;
}
.animate-bounce-slow{
    animation:bounce 1.3s ease-in-out infinite ;
}
html{
    scroll-behavior: smooth;
}
