@import "tailwindcss";
@keyframes bounce {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}
@keyframes slowpulse {
    0%,100%{
        transform:scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.3);
        opacity: 0.85;
    }
}
.animate-slowpulse{
    animation: slowpulse 1.6s ease-in-out infinite;
}
.animate-bounce-slow{
    animation:bounce 1.3s ease-in-out infinite ;
}
html{
    scroll-behavior: smooth;
}
.particles{
    position: absolute;
    background: rgba(220, 240, 255, 0.9);
    border-radius: 9999px;
    filter: blur(0.6px);
    pointer-events: none;
    animation: snowfall linear infinite;
}
@keyframes snowfall {
    0%{
        transform: translateX(0) translateY(0);
        opacity: 0;
    }
    10%{
        opacity: 0.8;
    }
    100%{
        transform: translateY(-120vh) translateX(30px);
        opacity: 0.4;

    }
}
.bubble{
     position: absolute;
    background: rgba(233, 12, 5, 0.527);
    border-radius: 9999px;
    filter: blur(0.6px);
    pointer-events: none;
    animation: snowfall linear infinite;
}